@font-face {
  font-family: 'Reenie Beanie';
  src: url('../assets/fonts/ReenieBeanie-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Reenie Beanie', cursive;
  cursor: url('../assets/icons/camera-flash.png'), auto;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(242, 216, 117, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
}

.hero {
  height: 100vh;
  background-image: url('../assets/images/mbs.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  color: black ;
}

.hero-title {
  position: absolute;
  bottom: 3%;
  left: 5%;
  font-size: 6em;
  color: invert;
  outline-color: invert;
}

.intro-text {
  position: absolute;
  top: 16%;
  right: 8%;
  width: 56%;
  font-size: 1 em;
  colour: white;
}

.hero-buttons {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.cta {
  margin-right: 1em;
  font-size: 1.3em;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.services {
  padding: 5em 2em;
  background: #fff;
}

.grid-2, .grid-3 {
  display: grid;
  gap: 2em;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em;
}

.card {
  background: rgba(0, 0, 0, 0.05);
  padding: 1em;
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.center-box {
  background-color: rgba(242, 216, 117, 0.5);
  width: fit-content;
  margin: 2em auto;
  padding: 1em 2em;
  border-radius: 20px;
  font-size: 2em;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 2em;
}

.portfolio-grid img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: url('../assets/icons/camera-flash.png'), pointer;
}

/* Flash Effect */
.flash-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0.8;
  animation: flash 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1000;
}

@keyframes flash {
  0% { opacity: 0.8; }
  100% { opacity: 0; }
